%hr
.footer.row
  .col-md-6.col-lg-6
    %h6= prepend_icon_to_string Settings.site_owner.footer.left_column.title, Settings.site_owner.footer.left_column.icon
    = markdown Settings.site_owner.footer.left_column.content
  .col-md-6.col-lg-6
    %h6= prepend_icon_to_string Settings.site_owner.footer.right_column.title, Settings.site_owner.footer.right_column.icon
    = markdown Settings.site_owner.footer.right_column.content
%hr
.footer.row
  .col-lg-12
    %p.pull-right= Settings.site_owner.footer.bottom_line.html_safe
