%hr
.footer.row
  .col-md-6.col-lg-6
    %p
      %strong= prepend_icon_to_string "版權說明", "copyright"
    %p
      陸續發表之電子書以及簡報，可於
      = postpend_icon_to_link_to "Leanpub", "https://leanpub.com/u/raviwu", "external-link"
      平台或本站自由電子書網頁上購得或免費下載。
    %p
      LW Studio 網站內容由吳莉瑋製作，以
      = postpend_icon_to_link_to "創用 CC 姓名標示授權", "http://creativecommons.org/licenses/by/3.0/deed.zh_TW", "external-link"
      釋出，如果派得上任何用場，只要尊重姓名表示權，歡迎取用。
  .col-md-6.col-lg-6
    %p
      %strong= prepend_icon_to_string "支持 LW Studio", "support"
    %p
      LW Studio 的網站內容需要花上許多時間製作與準備，這些工作都需要經費，除了透過
      = postpend_icon_to_link_to "Leanpub", "https://leanpub.com/u/raviwu", "external-link"
      購買電子書外，您還能透過 Bitcoin 直接支持 LW Studio：
      %code 1E5RntcxdqguuAd6Pfpj96NWNgUJbRnYVe
%hr
.footer.row
  .col-lg-12
    %p.pull-right
      Ravi L.W. Wu
      = fa_icon "copyright"
      2013-2016
