/ Sidebar
#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to "LW Studio", root_path, class: "sidebar-brand"
    %li.nav-bar-item
      = link_to "Blog", posts_path
    %li.nav-bar-item
      = link_to "eBooks", ebooks_path
    %li.nav-bar-item
      = link_to "About", "#"
    %li
      = mail_to Settings.site_owner.email, class: "nav-bar-icon" do
        = fa_icon "envelope"
      = link_to Settings.site_owner.github_profile, class: "nav-bar-icon" do
        = fa_icon "github"
      = link_to Settings.site_owner.linkedin_profile, class: "nav-bar-icon" do
        = fa_icon "linkedin"
    - if @current_user.present?
      %li
        = link_to "Logout", logout_path, method: :delete
