= render 'shared/error', obj: post
= render 'shared/error', obj: @image
= form_for post do |f|
  .form-group
    = f.label :title, id: "title"
    = f.text_field :title, id: "title", class: "form-control"
  .form-group
    = f.label :slug, id: "slug"
    = f.text_field :slug, id: "slug", class: "form-control"
  .row
    .form-group.col-sm-6.col-md-6.col-lg-6
      = f.label :published_at, "Scheduled to Publish At", id: "published_at"
      = f.date_field :published_at, value: ui_date(post.published_at), placeholder: "YYYY-MM-DD", id: "published-date", class: "form-control"
    .checkbox.col-sm-6.col-md-6.col-lg-6
      %label
        = f.check_box :is_draft, value: 0
        = prepend_icon_to_string "Reserve to Draft Box.", "lock"
  .form-group
    = f.label :body, "Content, use '#{Settings.content.readmore_tag}' to separate the brief intro in Index view.", id: "body"
    = f.text_area :body, id: "body", class: "form-control", cols: 20, rows: 30
  = f.submit "#{post.new_record? ? "Create" : "Update"}", class: "btn btn-primary"
- unless post.new_record?
  %hr
  %h4.title Attached Image
  .row
    - post.images.each do |image|
      .col-sm-6.col-md-4.col-lg-3
        .panel.panel-default
          .panel-body
            = link_to post_image_path(post, image), class: "pull-right btn btn-default", method: :delete, data: { confirm: "Are you sure to delete this image?" } do
              = fa_icon "trash"
            = link_to image.asset.url(:medium) do
              = image_tag image.asset.url(:thumb), class: "img-responsive img-rounded"
  .row
    .col-sm-12
      = form_for @image, url: post_images_path(post), html: { multipart: true }, method: :post do |f|
        .form-group
          = f.file_field :asset
        = f.submit "Add new Image", class: "btn btn-default"
