- provide :title, "Search Blog Post"
= render "shared/page_header", header: "Search Result"
.row
  .col-sm-12
    %p= "You searched for: #{@highlights.join(" ")}."
    %p= "Found #{pluralize(@posts.count, 'post')}."
- if @posts.present?
  %hr
= render @posts, is_index: false
.row
  .col-sm-12= paginate @posts, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm"
