- provide :title, @post.title
= render "add_new_post_button"
= render "shared/float_object_spacer"
= render 'delete_post_button'
= render "shared/float_object_spacer"
= render 'edit_post_button'
= render @post
