.row
  .col-sm-12.col-md-10.col-lg-10
    %h4.title= prepend_icon_to_string ebook.title, (ebook.is_draft ? "lock" : "book")
  .col-sm-12.col-md-2.col-lg-2
    = render "delete_ebook_button", ebook: ebook
    = render "shared/float_object_spacer"
    = render 'edit_ebook_button', ebook: ebook
.row
  .col-sm-12
    = image_tag ebook.image.asset.url(:small), class: "pull-left img-responsive img-rounded", style: "margin-right: 1em; margin-bottom: 1em;" if ebook.image.present?
    %p.meta.text-muted= prepend_icon_to_string ebook.author_name, "user-secret"
    - if ebook.references.present?
      - ebook.reference_infos.each do |info|
        %p.meta.text-muted
          = prepend_icon_to_link_to (info[:description] || info[:url]), info[:url], "external-link"
    %p.content= markdown ebook.introduction
.row
  .col-sm-12
    = render 'attachment_list', ebook: ebook
