- provide :title, "自由電子書"
= render "shared/page_header", header: "自由電子書"
.content= markdown Settings.site_owner.ebook_intro
- if current_user
  = link_to new_ebook_path, class: "btn btn-primary" do
    = fa_icon "plus"
    = "New eBook"
%hr
= render @ebooks, is_index: true
