!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title).present? ? "#{Settings.site_owner.site_name} | #{yield(:title)}" : Settings.site_owner.site_name
    = favicon_link_tag 'favcon.png', rel: 'icon', type: 'image/png'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      = render 'shared/sidebar'
      / Page Content
      #page-content-wrapper
        = render 'shared/navbar'
        .container-fluid.main-content
          .row
            .col-lg-12
              = render 'shared/message'
              = yield
          = render 'shared/footer'
    %script{:src => "js/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "js/bootstrap.min.js"}
    / Menu Toggle Script
    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
