!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title).present? ? "LW Studtio | #{yield(:title)}" : "LW Studio"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      = render 'shared/sidebar'
      / Page Content
      #page-content-wrapper
        = render 'shared/navbar'
        .container-fluid.main-content
          .row
            .col-lg-12
              // %a#menu-toggle.btn.btn-primary{:href => "#menu-toggle"} Toggle Menu
              = render 'shared/message'
              = yield
          = render 'shared/footer'
    %script{:src => "js/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "js/bootstrap.min.js"}
    / Menu Toggle Script
    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
